:root{
    --yellow: #FFD700;
    --mainBg: #022C43;
    --buttonShdw: #053F5E;
    --buttonBg: #115173;
    --X-Bg: #00A8CC;
    --hover: #0C7B93;
}

@font-face {
    font-family: "Archivo";
    src: url(fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: "Marker";
    src: url(fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: "Poetsen";
    src: url(fonts/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: "Press";
    src: url(fonts/PressStart2P-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    /* border: 1px solid; */
}

p{
    color: white;
}

body{
    position: relative;
    min-height: 630px;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    background-color: var(--mainBg);
    font-family: Poetsen;
}

.board button{
    border-radius: 20px;
    /* max-width: 250px;
    max-height: 250px; */
    border: none;
    background-color: var(--buttonBg);
    box-shadow: var(--buttonShdw) 7px 8px 4px;
    font-size: clamp(40px,5rem,15vw);
    font-weight: bolder;
    font-family: Marker;
}

.board button:hover{
    background-color: var(--hover);
}

li,a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: large;
    font-weight: bold;
}

h1{
    background-image: radial-gradient(circle ,#5ECDE1, #2B5876);
    background-clip: text;
    color: transparent;
    text-align: center;
    text-decoration: #2B5876 underline 3px;
    font-family: Press;
}

.container{
    width: min(90%,1100px);
    min-width: 530px;
    margin: 0 auto;
}

header{
    background-color: var(--buttonBg);
    height: 7vh;
    min-height: 15px;
    margin-bottom: 25px;
}

header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header>div>div{
    flex-grow: 1;
    
}

header>div>div>ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

main{
    height: 90vh;
    flex-grow: 1;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

main>div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main>div>div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main>div>div>div:nth-of-type(2){
    flex-grow: 1;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 20px;
}

section {
    position: absolute;
    top: 30%; 
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgba(0,168,204,0.8);
}

section>div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section p{
    text-align: center;
    font-size: large;
}
section p:last-of-type{
    font-size: 40px;
}

section button{
    padding: 7px;
    font-size: larger;
    border-radius: 10px;
    width: 150px;
    align-self: center;
    background-color: var(--yellow);
    font-weight: 900;
    color: var(--mainBg);
    border: solid var(--yellow);
}

.player1{
    color: red;
}

.player2{
    color: yellow;
}